[project]
# Name of the project we are deploying/installing.
# This should typically be the name of the github repo
# It will also be used as a directory name for our deployment/installation target
name=elcid
# Uncomment this if your settings module name is different to your project name
#settings_module_name=elcid
# Target branch we want to deploy
branch=v0.6.2
github_user=openhealthcare

[db]
# The user we use when running OS commands
os_user=postgres
# Database user we would like to use. Will be created if it does not exist.
db_username=ohc
# Password for the database user above
db_password='this is fake'

[system]
# Directory to which we should deploy applications
base_dir=/usr/lib/ohc

# Uncomment this if your deployment environment requires you to use a HTTP proxy
#http_proxy=http://where_is_your_proxy

# database dump directory
# the directory to load database dumps to/from (relative to the base_dir)
# optionally this will be loaded from with test, and dumped to/loaded from
# in prod
# db_dump_dir=var

# previous branch
# previous_branch=v0.6.1
