; =====================
;  manage.py supervisor
; =====================

[program:gunicorn]
command={{ env_name }}/bin/gunicorn ipfjes.wsgi -c %(here)s/gunicorn_conf.py
directory=%(here)s/../
;user=nobody
numprocs=1
stdout_logfile=~/ipfjes-logs/gunicorn.log
stderr_logfile=~/ipfjes-logs/gunicorn.log
autostart=true
autorestart=true
startsecs=10
loglevel=DEBUG
