# you can only be opat or walkin, otherwise you can be on multiple
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'USER': '{{ app_user }}',
        'PASSWORD': '{{ app_password }}',
        'HOST': '',
        'PORT': '',
    }
}

DEBUG = False
ALLOWED_HOSTS=['*']
